<body>
    <header>Паймали негра</header>
    <div id="const">
        <p>
        <label>Процесор</label><br>
        <select id="cpu" required>
          <option value="" disabled selected>Виберіть процесор</option>
        </select><br>
        </p>
        <p>
        <label>Материнська плата</label><br>
        <select id="mboard" required>
            <option value="" disabled selected>Виберіть материнську плату</option>
        </select><br>    
        </p>
        <p>
        <label>Відеокарта</label><br>
        <select id="gpu" required>
            <option value="" disabled selected>Виберіть відеокарту</option>
        </select><br>     
        </p>
        <p>
        <label>Оперативна пам'ять</label><br>
        <select id="ram" required>
            <option value="" disabled selected>Виберіть оперативну пам'ять</option>
        </select><br>    
        </p>
        <p>
        <label>SSD накопичувач</label><br>
        <select id="ssd" required>
            <option value="" disabled selected>Виберіть SSD накопичувач</option>
        </select><br>    
        </p>
        <p>
        <label>Блок живлення</label><br>
        <select id="power" required>
            <option value="" disabled selected>Виберіть блок живлення</option>
        </select><br>    
        </p>
        <p>
        <label>Система охолодження</label><br>
        <select id="cooler" required>
            <option value="" disabled selected>Виберіть систему охолодження</option>
        </select><br>    
        </p>
        <p>
        <label>Корпус</label><br>
        <select id="body" required>
            <option value="" disabled selected>Виберіть корпус</option>
        </select><br>    
        </p>
        <p>
            <label>Загальна вартість</label><br>
            <input type="text" id="buildname" required>
            <button>Зберегти</button><br>    
        </p>
    </div>
    <div id="chat">
    
    </div>
    </body>