<body>
    <div id="login">
        <h1>Авторизація</h1>
        <p>Введіть ваш e-mail:</p>
        <input type="email" required>
        <p>Введіть ваш пароль:</p>
        <input type="password" required><br>
        <button>Увійти</button>
        <p>Не маєте облікового запису? Зареєструйтеся</p>
    </div>
    <div id="reg">
        <h1>Реєстрація</h1>
        <p>Введіть ваш e-mail:</p>
        <input type="email" required>
        <p>Введіть ім'я користувача:</p>
        <input type="text" required>
        <p>Введіть ваш пароль:</p>
        <input type="password" required>
        <p>Повторіть ваш пароль:</p>
        <input type="password" required><br>
        <button>Зареєструватися</button>
        <p>Увійти в існуючий обліковий запис</p>
    </div>
    </body>