header {
    position: 0, 0;
    color: rgba(255, 255, 255, 1);
    width: auto;
    height: 80px;
    background-color: rgba(68, 68, 68, 1);
}
p {
    margin: 15px;
}
label {
    font-size: 20;
}
select {
    background-color: rgba(238, 238, 238, 1);
    border: none;
    border-radius: 10px;
    width: 650px;
    height: 40px;
}
input {
    border-radius: 10px;
    font-size: 16;
    width: 500px;
    height: 40px;
    margin: 5px;
    padding: 5px;
}
button {
    width: 130px;
    height: 40px;
    background-color: rgba(204, 204, 255, 1);
    border: none;
    border-radius: 10px;
    font-size: 20;
}